html {
  background-color: #292826;
  color: white;
}

body {
  color: white;
}

.darkBack {
  background-color: #292826;
}

.lightBack{
  background-color: #998F86;
}

.whiteBack {
  background-color: #FFF;
}

.smallIndent{
  margin-left: 1.5em;
}

.smallerIndent{
  margin-left: 1em;
}

#headerLogo img {
  width:100%;
  height:auto;
}

#descrpTitle {
  padding: 0.2em 0.8em;
  background-color: #950014;
}

fieldset.border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.whiteFont{
  color: white;
}

.blackFont {
  color: black;
}

.redFont {
  color: #950014;
}

.italic {
  font-style: italic;
}

.bigPfont {
  font-size: 1.4em;
}

.underline {
  text-decoration: underline;
}

.center {
  display: block;
  margin: 0 auto;
}

#loginButton {
  font-size: 1.5em;
  padding: 0.15em 0.8em;
  border-radius: 0.4em;
  display: block;
  margin: 0 auto;
}

#searchLegend {
    background-color: #292826;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    color: #fff;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    border-radius: 0.4em;
}
